body{
	background-image: url('http://img.freepik.com/fotos-gratis/luzes-multicoloridas-partido-fundo_293-704.jpg?size=338&ext=jpg');
	background-repeat: no-repeat;
	background-size: cover;
   margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
header {
    z-index: 10;
    top: 0;
    left: 0;
    margin-top: -35px;
    width: 100%;
    background-color:black;
    color:#FF0000;
    text-align:center;
}

h1 {
  text-shadow: 0 1px 0 #fff,
  			   0 2px 0 #18F008,
  			   0 3px 0 #ccff00,
  			   0 4px 0 #33ff00,
  			   0 5px 0 #cc3399,
  			   0 6px 1px rgba(0,0,0,.1),
  			   0 0 5px rgba(0,0,0,.1),
  			   0 1px 3px rgba(0,0,0,3),
  			   0 3px 5px rgba(0,0,0,2),
  			   0 5px 10px rgba(0,0,0, 25),
  			   0 10px 10px rgba(0,0,0,.2),
  			   0 20px 20px rgba(0,0,0,.15);
  font-size: 50px
}
img {
  float: left;
  margin-top: 100px;
  margin-right: 10px;
  height: 300px;
  z-index: 30;
}
p {
  position: relative;
  margin-top: 110px;
  width: 100%;
  font-family: Arial;
  font-size: 30px;
  text-align: center;
  line-height: 1em;
  margin-right: 3; 
  z-index: 1;
}
h2 {
  color: #FF0000;
  font-size: 40px;
}
h3 {
  color: #000000;
  font-size: 30px;
  margin: 20px 0 10px 0;
  border-bottom: 5px solid #aaaaaa;
  padding: 2px;
}




form
{
  margin-top: 5%;
  z-index: 1;
  margin-top: 50px;

}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
    z-index: 1;
      margin-top: 200px;


}

.form-signin .form-signin-heading,.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="submit"] {
  margin-top: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin textarea
{
  margin-top: 5px;
}

#notification {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100%;
    background: #EFEFEF;
    text-align: center;
    border-top: 2px solid #FFF;
    z-index:9999;
}


.social-media {
  margin: 1px; 
  width: 75px; 
  height: auto;
  padding: 10px;
}




nav li{
  display: inline;
}

nav li a{
  font-size: 40px;
  padding-right: 15px;
}

nav li a:hover{
  background: lightblue;
}

