body{
	background-image: url('http://thumb1.shutterstock.com/display_pic_with_logo/258571/261186758/stock-vector-abstract-neon-colorful-triangle-pattern-background-vector-261186758.jpg');
	background-repeat: no-repeat;
	background-size: 100%
}
h1 {
  text-shadow: 0 1px 0 #0066ff,
  			   0 2px 0 #c9c9c9,
  			   0 3px 0 #ccff00,
  			   0 4px 0 #33ff00,
  			   0 5px 0 #cc3399,
  			   0 6px 1px rgba(0,0,0,.1),
  			   0 0 5px rgba(0,0,0,.1),
  			   0 1px 3px rgba(0,0,0,3),
  			   0 3px 5px rgba(0,0,0,2),
  			   0 5px 10px rgba(0,0,0,.25),
  			   0 10px 10px rgba(0,0,0,.2),
  			   0 20px 20px rgba(0,0,0,.15);
  font-size: 50px
}
img {
  float: left;
  margin-right: 10px;
}
p {
  font-family: Arial;
  font-size: 30px;
  line-height: 1.3em;
  margin-right: 3.5;
}
h2 {
  color: #00ff00;
  font-size: 40px;
}
h3 {
  color: #000000;
  font-size: 30px;
  margin: 20px 0 10px 0;
  border-bottom: 5px solid #aaaaaa;
  padding: 2px;
}
